<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/scripts/101-hbnb.js?{{ cache_id }}"></script>
    <title>HBNB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div id="api_status"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for state in states %}
	      <li>
	        <h2>
	        <input type="checkbox" data-id="{{ state[0].id }}" data-name="{{ state[0].name }}" class="state_input">
		{{ state[0].name }}:
		</h2>
		<ul>
		  {% for city in state[1] %}
		  <li>
		  <input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}" class="city_input">
		  {{ city.name }}
		  </li>
		  {% endfor %}
		</ul>
              </li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="amenities">
	    <h3>Amenities</h3>
	    <h4>&nbsp;</h4>
	    <div class="popover">
	      <ul>
	        {% for amenity in amenities %}
		<li> <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
		  {{ amenity.name }}
		</li>
		{% endfor %}
	      </ul>
	    </div>
	  </div>
	  <button type="button" onclick="fetchPlaces()">Search</button>
	</section>
	<div class="placesh1"><h1>Places</h1></div>
	<section class="places">
	  <h2>#Beautiful Studio in Waikiki</h2>
	  <div class="reviews">
	    <h2>Reviews</h2><span class="toggle-reviews" style="cursor:pointer;">show</span>
	    <div class="list-review" style="display:none;">
		<ul>
        	  <li class="User/date-desc"><h3>From Bob Dylan the 27th January 2023</h3></li>
    		<li class="Actual-Review-Text"><p>Runshi is an epic host.Nothing more I can say. 5 star!</p></li>

                <li class="User/date-desc"><h3>From Connor the 4th January 2023</h3></li>
                                                                <li class="Actual-Review-Text"><p>The Atmosphere is awesome and I enjoyed my stay. The host was kind and made me at home. Highly recommended!</p></li>
		</ul>
	    </div>
	  </div>


	  <!-- <h1>Places</h1> -->
	</section>
      </div>
      <footer>
        <p>Best School</p>
      </footer>
    </body>
</html>
